body 
{
	font-size: 13px;
}

A {
	COLOR: #31319c; TEXT-DECORATION: none
}
A:hover {
	TEXT-DECORATION: underline
}


.leftMenu {
	PADDING-RIGHT: 0px; 
	PADDING-LEFT: 0px; 
	PADDING-BOTTOM: 0px; 
	MARGIN: 0px; 
	VERTICAL-ALIGN: top; 
	WIDTH: 100%; 
	PADDING-TOP: 0px
}

.leftMenu DIV {
	BORDER-BOTTOM: #7e96ae 1px solid;
	BORDER-RIGHT: #7e96ae 1px solid; 
	background-color: White;
	PADDING-RIGHT: 4px; 
	PADDING-LEFT: 4px; 
	FONT-SIZE: 90%; 
	MARGIN-BOTTOM: 5px; 
	PADDING-BOTTOM: 4px; 
	PADDING-TOP: 4px; 
}

.leftMenu H1 {
	PADDING-RIGHT: 3px; 
	PADDING-LEFT: 3px; 
	FONT-WEIGHT: bold; 
	FONT-SIZE: 8pt; 
	BACKGROUND: url(res/tab_right_on.gif) no-repeat right top; 
	PADDING-BOTTOM: 3px; 
	MARGIN: 0px; 
	COLOR: #494949; 
	BORDER-TOP-STYLE: none; 
	PADDING-TOP: 3px; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif; 
	BORDER-RIGHT-STYLE: none; 
	BORDER-LEFT-STYLE: none; 
	TEXT-ALIGN: center; 
	BORDER-BOTTOM-STYLE: none;
}

.leftMenu td
{
	padding: 1px 8px 0px 8px;
}
.leftMenu td.selected
{
	border: solid 1px #999;
	BACKGROUND: #ccc; 
}

#footer {
	CLEAR: both; 
	BORDER-TOP: #cccccc 1px solid; 
	PADDING-BOTTOM: 3px; 
	BACKGROUND-COLOR: #eeeeee; 
	FONT-SIZE: 8pt; 
	FONT-FAMILY: Verdana, Arial, Helvetica, sans-serif;
}