<?xml version="1.0" encoding="utf-8" ?>
<configuration>

  <configSections>
  </configSections>
  <connectionStrings>
    <add name="Connection String" connectionString="Database=OMeiTravel;Server=(local)\SqlExpress;user id=travel;pwd=travel;"
      providerName="System.Data.SqlClient" />
    <add name="OmeiDLL.Properties.Settings.OmeiTravelConnectionString"
      connectionString="Data Source=(local)\SqlExpress;Initial Catalog=OmeiTravel;User ID=travel;Password=travel"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  
</configuration>