.DataList
{
	font-size: 80%;
	line-height: 1.3;
}

.list_title
{
	background-image:url(mainPics/line01.gif); 
	height:25px;
	font-family:Tahoma;
}

.list_head
{
	font-family:Verdana, Arial, Helvetica, sans-serif;
	font-weight:bold;
	line-height: 16px;
	background-color:#4C773E;
	color:White;
}
.list_head A
{
	color: white;
	text-decoration:underline;
}
.list_head A:visited
{
	color: white;
	text-decoration:underline;
}

.list_item_forsele
{
	font-family:verdana,arial,helvetica;
	background-color:#E4EEE0;
	cursor:hand;
}
.list_item
{
	font-family:verdana,arial,helvetica;
	background-color:#E4EEE0;
}
.list_item_alt_forsele
{
	font-family:verdana,arial,helvetica;
	background-color:#C8E0C0;
	cursor:hand;
}
.list_item_alt
{
	font-family:verdana,arial,helvetica;
	background-color:#C8E0C0;
}
.list_item_select
{
	font-family:verdana,arial,helvetica;
	background-color:#ffffcc;
	cursor:hand;
}

.detail_view {
	FONT-SIZE: 12px;
}
.detail_view .prompt {
	COLOR: #333333; 
	FONT-FAMILY: "Times New Roman", Times, serif;
}
.detail_view .content {
	COLOR: #a52a2a; 
	FONT-FAMILY: "Courier New", Courier, monospace;
	font-style: normal;
	font-size: 13px;
}
.detail_view a
{
	color: blue;
	text-decoration: underline;
	cursor: hand;
}


.edit_en
{
	font-size:8pt;
	background-color:#f1f1f1;
}

.edit_cn
{
	font-size:8pt;
	background-color:#d0cadc;
}

