<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="OmeiTravelEntities" connectionString="metadata=res://*/OmeiWebModel.csdl|res://*/OmeiWebModel.ssdl|res://*/OmeiWebModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;Data Source=JIMMY\SQLEXPRESS;Initial Catalog=OmeiTravel;Integrated Security=True;MultipleActiveResultSets=True&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>